/*global*/
:root {
  --red: #f43b00;
}

h1 {
  font-family: "Fraunces", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 82px;
  text-align: center;
  margin-block-start: 0em;
  margin-block-end: 0em;
  line-height: 100%;
}
h2 {
  font-family: Staatliches, sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  color: var(--red);
  font-size: 62px;
  line-height: 0.975em;
  margin: 25px 0;
}
h3 {
  font-family: Staatliches, sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 35px;
  line-height: 0;
}
p,
a {
  font-size: 20px;
  font-weight: 400;
  font-style: normal;
  text-decoration: none;
  color: white;
}
p {
  font-family: "Mulish", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: var(--red);
}

/*container*/
body {
  margin: 0 auto;
}
.container {
  margin: 0px auto;
}
section {
  max-width: 1440px;
  margin: 0 auto;
  padding: 110px 15px 0px 15px;
}
/*header*/
header {
  background-color: var(--red);
  color: white;
  padding: 40px;
  p {
    color: white;
    text-align: center;
    margin-block-start: 0em;
    margin-block-end: 0em;
  }
  .info {
    p,
    a {
      font-size: 14px;
    }
  }
}
.about {
  padding: 50px 0;
}
.info {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

/*pizza*/
.content {
  .content-inner {
    color: var(--red);
    position: relative;
    top: -4px;
    width: 100%;
    padding: 0 0 3px 0;
    display: flex;
    align-items: baseline;
    h3 {
      display: flex;
      align-items: center;
    }
    p {
      font-family: Fraunces, serif;
      font-size: 30px;
      line-height: 1;
      margin: 0;
    }
  }
}
span.badge {
  padding-left: 10px;
}
.heading-line {
  flex-grow: 1;
  border-bottom: 2px dashed var(--red);
  margin: 0 20px;
}
p.prix {
  font-family: Fraunces, serif;
  font-size: 30px;
  line-height: 1;
}
p.description {
  font-weight: 600;
  line-height: 1.368em;
  margin: 0;
  color: var(--red);
  font-size: 16px;
  font-family: "Mulish", sans-serif;
  position: relative;
  top: -25px;
}

footer {
  margin-top: 120px;
  background-color: var(--red);
  .info {
    max-width: 1440px;
    padding: 30px 15px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
  }
  h1 {
    color: white;
    font-size: 22px;
    text-align: left;
  }
  p {
    margin: 0;
  }
  a {
    color: white;
    font-size: 16px;
  }
  ul {
    color: white;
    list-style-type: none;
    margin-block-start: 0em;
    margin-block-end: 0em;
    padding-inline-start: 0px;
    li {
      font-family: "Mulish", sans-serif;
    }
  }
}
.supplements {
  padding-top: 65px !important;
  h3 {
    text-align: center;
    color: var(--red);
  }
}

.copyright {
  background-color: var(--red);
  padding-bottom: 5px;
  p {
    margin: 0 auto;
    text-align: center;
    color: white;
    font-size: 12px;
  }
}

@media only screen and (max-width: 500px) {
  h1 {
    font-size: 55px;
  }
  h2 {
    font-size: 42px;
  }
  h3 {
    font-size: 20px;
  }
  p.prix {
    font-size: 20px !important;
  }
  p.description {
    top: -15px;
  }
  .info {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
  }
  footer {
    .info {
      display: flex;
      align-items: center;
      justify-content: space-around;
      flex-direction: column;
      gap: 10px;
    }
    h1,
    p,
    li {
      text-align: center;
    }
  }
}

@media only screen and (max-width: 500px) {
  h1 {
    font-size: 55px;
  }
  h2 {
    font-size: 42px;
  }
  h3 {
    font-size: 20px;
  }
  p.prix {
    font-size: 20px !important;
  }
  p.description {
    top: -15px;
  }
  .info {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
  }
  footer {
    .info {
      display: flex;
      align-items: center;
      justify-content: space-around;
      flex-direction: column;
      gap: 10px;
    }
    h1,
    p,
    li {
      text-align: center;
    }
  }
}

@media (max-width: 499px) {
  section {
    padding: 60px 15px 0px 15px;
  }
  h1 {
    font-size: 40px;
  }
  h2 {
    font-size: 32px;
  }
  h3 {
    font-size: 17px;
  }
  p.prix {
    font-size: 17px !important;
  }
  p.description {
    font-size: 14px;
  }
}
